<%= link_to 'New User', users_new_path %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Country</th>
      <th scope="col">Edit</th>
      <th scope="col">Show</th>
      <th scope="col">Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, idx|%>
    <tr>
      <th scope="row"><%= idx %></th>
      <th scope="row"><%= user.f_name %></th>
      <th scope="row"><%= user.l_name %></th>
      <th scope="row"><%= user.email %></th>
      <th scope="row"><%= user.country %></th>

      <th scope="row"><%= link_to 'Edit', edit_user_path(id: user.id) %></th>
      <th scope="row"><%= link_to 'Show', user_path(id: user.id) %></th>
      <th scope="row"><%= link_to 'Destroy', user_path(id: user.id), method: 'delete' %></th>

    </tr>
    <% end %>
  </tbody>
</table>